<form>
    <div class="input-group mb-3">
        <input type="text" name="inputTodo" placeholder="Enter todo.." class="form-control" [(ngModel)]="inputTodo" />
        <input type="button" class="btn btn-primary" (click)="addTodo()" value="Add" />
    </div>
</form>